// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// Bootstrap icons

@import 'bootstrap-icons/font/bootstrap-icons.css';

a{
    text-decoration: none;
    color: gray;
}

h6{
    margin-bottom: 0;
}